

body{
    padding-bottom: 70px; 
    font-family: "Fira Code";
    background-color: #16191b;

}
/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
#about{
    margin-top: 4rem;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}

.box{

    font-family: "Fira Code";
    color: #EAEAEA;
    box-shadow: 0px 4px 8px #e7e7e7a5;
    background-color: #212529;
    padding: 2rem 2rem 2rem 2rem ;
}

#subtitle{
   font-family: "Fira Code";
    font-size:25pt;
}
#name{
    font-family: "Fira Code";
    font-size:20pt;
    color: #a4d8fc;
}
.top2{
    margin-top:2rem;
}
#skill{
    font-family: "Fira Code";
    margin-bottom:2rem;
}
#aboutMetxt{
    font-size: 12pt;
    font-family: "Fira Code";
    text-align: justify;
}
#skill_section{
    font-family: "Fira Code"; 
}
/*#python{
margin: auto;
width: 60%;
}*/